# ignore all .DS_Store files anywhere in the repo
**/.DS_Store

# .env files anywhere in the repo
**/.env

# ignore all .ipynb_checkpoints files anywhere in the repo
**/.ipynb_checkpoints

# data folder and its contents anywhere in the repo
**/data

# ignore wandb folder and its contents anywhere in the repo
**/wandb
